.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25px;
  margin-top: 10px;
  border: 1px solid #cf404d;
  padding: 15px;
  border-radius: 4px;
}

.btn {
  width: 100px;
  margin-top: 30px;
  background-color: #cf404d;
  border: 2px solid #cf404d;
  border-radius: 4px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25 / 20;
  text-align: center;
  color: #ffffff;
}

.btn:hover {
  animation-name: puls;
  animation-duration: 3s;
}

.inputForm {
  margin-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  width: 350px;
  height: 40px;
  border-radius: 4px;
  border: none;
}

.inputForm:focus {
  border: 1px solid;
  border-color: hsla(0, 80%, 50%, 0.425);
}

.inputForm::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: red;
}

@keyframes puls {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
