/* body {
  background: linear-gradient(4deg, #5462c3, #ba872c);
} */

footer {
  background: linear-gradient(4deg, #5462c3, #ba872c);
  height: 200px;
}

.app {
  width: 330px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #070f4b;
  background-color: aliceblue;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

.container {
  background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
  height: auto;
}

p {
  font-size: 20px;
  font-weight: 700;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

li {
  list-style: none;
}

input {
  outline: none;
}

@keyframes puls {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* .wrapp {
  height: 430px;
} */

.image {
  margin: auto;
  padding-top: 40px;
  width: 60px;
  height: 60px;
}

.image {
  animation-name: puls;
  animation-name: puls;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes puls {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
