.list {
  margin-top: 10px;
  padding: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

li {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.loading {
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
}

.telLink {
  text-decoration: none;
  color: #404acf;
}

.telLink:hover {
  display: flex;
  color: #cf404d;
}

.image {
  width: 14px;
  height: 16px;
  display: inline-block;
  padding-right: 5px;
}

.text {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 400;
}
